@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background: url('./img/Slide2.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ================ CUSTOM SCROLLBAR =============== */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #005bd3; 
}
::-webkit-scrollbar-thumb:hover {
    background: #00399b; 
}


/* ============ CONTAINERS ============== */
main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
section{
    width: 100%;
    margin: 40px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================ NAVBAR ============== */
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    position: relative;
}
.md-row{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.md-row-start{
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}
.md-col{
    flex-direction: column;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.col{
    flex-direction: column;
}
.row-cen{
    text-align: center;
}
.row-end{
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.cont-cen{
    justify-content: center;
    align-items: center;
}
.cont-sm{
    width: 500px;
    margin: auto;    
}
.cont-lg{
    width: 968px;
    margin: auto;
}
.cont-flex-1{
    flex: 1;
}
.cont-sp-col{
    flex-wrap: wrap;
    padding: 40px;
    background: #fff;
    border: 3px solid #e40057;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cont-special{
    flex: 1;
    min-height: 500px;
    padding: 40px;
    background: #fff;
    border: 3px solid #e40057;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -10;
}
.cont-bor-wh{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 30px 30px 30px 100px;
}
.mt-100{
    margin-top: 1600px;
}



/* ==================== CUSTOM TEXTS ================ */
h1{
    text-align: center;
    color: #e40057;
    font-weight: bold;
    font-size: 80px;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0 5px 10px #000;
    user-select: none;
}
h2{
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 50px;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0 5px 10px #000;
    margin-bottom: 40px; 
    user-select: none;
}
h3{
    text-align: center;
    color: #e40057;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 5px 10px #000;
    user-select: none;
}
.heading{
    margin: 10px 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.heading2{
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.sub-heading{
    font-size: 20px;
    text-align: center;
}
.question{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
.questionText{
    position: absolute;
    top: -50px;
    left: -20px;
    font-size: 150px;
}
.quesCounter{
    color: #e40057;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0 5px 10px #000;
    user-select: none;
}
.text-primary{
    color: #fff;
}
.text-secondary{
    color: #000;
}
.text-pink{
    color: #a70040;
}
.text-purple{
    color: #71005c;
}
.text-blue{
    color: #00399b;
}

/* ================== CUSTOM BUTTONS AND LINKS ================ */
.btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    padding: 8px 24px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    box-shadow: 0 0 0 3px #fff,
                0 5px 10px #000;
    margin: 10px;
    width: 200px;
    cursor: pointer;
}
.btn:link,
.btn:visited,
.btn:active{
    color: #fff;
}
.btn-lg{
    width: 400px;
    text-align: center;
}
.btn-float{
    position: absolute;
    bottom: -50px;
    left: 40%;
    z-index: 1000;
}
.btn-pink{
    background: #e40057;
}
.btn-purple{
    background: #9c007f;
}
.btn-blue{
    background: #005bd3;
}
.btn-pink:hover{
    background: #a70040;
}
.btn-purple:hover{
    background: #71005c;
}
.btn-blue:hover{
    background: #00399b;
}
.pink-disabled{
    box-shadow: 0 0 0 3px #a70040;
}
.purple-disabled{
    box-shadow: 0 0 0 3px #71005c;
}
.blue-disabled{
    box-shadow: 0 0 0 3px #00399b;
}

/* ================ FORM ELEMENTS =============== */
form{
    padding: 20px;
}

input,
textarea{
    border: 3px solid #e40057;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}
textarea{
    width: 500px;
}
label{
    font-size: 18px;
    font-weight: 100;
}



/* ================= CUSTOM RADIO BUTTONS ============== */
.inp-radio{
    display: inline-block;
    height: 60px;
    width: 300px;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}
.inp-radio input{
    position: absolute;
    opacity: 0;
    width: 300px;
    height: 68px;
    top: -9px;
    left: -5px;
    cursor: pointer;
}
.checkmark{
    position: absolute;
    top: -7px;
    left: 0;
    height: 68px;
    width: 300px;
    background: #e40057;
    box-shadow: 0 0 0 3px #a70040,
                0 5px 10px #000;
    border-radius: 5px;
    z-index: -3;
}
.inp-radio:hover input ~ .checkmark{
    background: #a70040;
}
.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}
.inp-radio input:checked ~ .checkmark::after{
    display: block;
}
.inp-radio .checkmark::after{
    top: 0;
    left: 0;
    height: 68px;
    width: 300px;
    background: #005bd3;
    box-shadow: 0 0 0 3px #fff;
    border-radius: 5px;
    z-index: -3;
}



/* =============== IMAGES =============== */

.user-profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #e40057,
                0 0 0 6px #fff,
                0 0 0 10px #e40057,
                0 0 10px 10px #000;
}
.user-profile-sm{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #e40057,
                0 0 0 6px #fff,
                0 0 0 10px #e40057,
                0 0 10px 10px #000;
}

/* ================ SPECIAL BOXES ============= */
/* RANK CARD */
.global-scorebar{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #bc2665;
    font-weight: bold;
}
.global-scorebar .rank-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.global-scorebar .rank-box .circle{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #ff388c;
    border: 3px solid #bc2665;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    font-size: 20px;
}

/* RECENT BOXES */
.recent-box{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #bc2665;
    font-weight: bold;
}
.recent-box .recent-sub{
    flex: 1;
    text-align: left;
}
.recent-box .recent-score{
    flex: 1;
    text-align: right;
}

/* PROGRESS BAR */
.progress-bar{
    margin: 0 10px;
    width: 70%;
    height: 30px;
    background: #fff;
    border: 3px solid #71005c;
    border-radius: 10px;
    position: relative;
}
.progress-bar .progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: #9c007f;
    border-radius: 6px;
}

/* ============== ALERT BOXES ============== */
.alert{
    display: block;
    color: #111;
    padding: 10px;
    font-size: 20px;
}
.alert-danger{
    background-color: rgba(255, 0, 0, 0.3);
}
.alert-success{
    background-color: rgba(0, 255, 0, 0.3);
}

/* ============= UPLOAD PICTURE BOX =========== */
input[type="file"]{
    display: flex;
    flex-direction: column;
}

/* =========== EMAIL VALIDATION ============== */
#msgCont{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.emailMsg{
    color: #a70040;
    font-size: smaller;
}

/* =========== PASSWORD VALIDATION ============== */
#pwdCont,
#conPwdCont{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.passMsg{
    color: #a70040;
    font-size: smaller;
}